body {
	background-color: #102137;
	font-family: Georgia;
}

div.circle-container { /* [1] */  
    position: relative;
    width: 24em;
    height: 24em;
    padding: 2.8em;
    /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
    border: dashed 1px;
    border-radius: 50%;
    margin: 1.75em auto 0;
}
.circle-container a {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    width: 4em; height: 4em;
    margin: -2em;
}

.circle-container a.center {
    width: 12em; height: 12em;
    margin: -6em;
}

.circle-container img { display: block; width: 100%; }
.r0 { transform: rotate(-90deg) translate(12em) rotate(90deg); } 
.r1 { transform: rotate(-18deg) translate(12em) rotate(18deg); }
.r2 { transform: rotate(54deg) translate(12em) rotate(-54deg); }
.r3 { transform: rotate(126deg) translate(12em) rotate(-126deg); }
.r4 { transform: rotate(198deg) translate(12em) rotate(-198deg); }


div.about {
  font-family: Courier;
  color: #ffffdd;
  padding-left: 4em;
  padding-right: 4em;
}

h1 {
  text-align: center;
}
